<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Link to Google Fonts for Oleo Script -->
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' if controller_name == 'home' && action_name == 'index' %> <!-- Include index.css only for the home page -->
</head>
<body>
  <%= render 'shared/header' %> <!-- Include header partial globally -->
  <%= yield %>
</body>
</html>
